body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

/*Top section style Start (Some Style Are Applying in many section as a common style )*/
h1 {
    font-size: 58px;
    color: #575757;
    letter-spacing: 0px;
    line-height: 10px;
    font-weight: 600;

}

#skip-word-color {
    color: #FB9049;
}

.flexible-content{
    display: flex;
}

.top-section {
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    margin-left: 149px;
}

.half-width img {
    width: 100%;
}

.left-section {
    margin-top: 180px;
}

#top-section-p {
    color: gray;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 16px 36px;
    border-radius: 100px;
    background-image: linear-gradient(to right, #FB8B47, #FD5031);
}

/*Top section Style End*/

/*About Section Style Start (Some Style Are Applying in many section as a common style )*/
.about-section {
    background-image: url(images/7.png);
    margin-bottom: 150px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-section {
    margin-top: 180px;
}

h2 {
    color: #767574;
    font-size: 40px;
    
}

#about-section-p {
    color: black;
    font-size: 15px;
    padding-bottom: 50px;

}

.about-section-img img {
    width: 65%;
}
/*About Section Style Complete*/
/*My recipe Section Style*/
.my-recipies{
    margin-bottom: 0px;
}
#my-recipies-h2{
    color: gray;
    text-align: center;
    font-size: 40px;
}
#my-recipies-p{
    color: gray;
    text-align: center;
    font-size: 15px;
    line-height: 5px;
}
.my-recipies-card{
    display: flex;
    margin-bottom: 150px;
}
.card-width{
    width: 30%;
    box-shadow: 20px 20px 60px rgba(128, 128, 128, 0.986);
    margin: 75px;
    padding: 30px;
    border-radius: 40px;
}
.card-width:hover{
    width: 30%;
    box-shadow: 20px 20px 60px rgba(245, 149, 5, 0.986);
    margin: 75px;
    padding: 30px;
}
.card-width img{
   width: 100%;
}
.my-recipie-card-h2{
    font-size: 40px;
}
.my-recipie-card-p{
    font-size: 12px;
}
/*My Recipe Section Complete*/
/*Count section style*/

.count-inline{
    width: 14%;
    display: inline-block;
    padding-left: 220px;
    
}
.count-section{
    box-shadow: 10px 10px 50px rgba(128, 128, 128, 0.288);
    border-radius: 20px;
    margin: 22px 44px 150px 44px;
    padding: 50px 0px;
    background-color: whitesmoke;
}
.count-section:hover{
    box-shadow: 10px 10px 50px rgba(214, 145, 17, 0.616)
}
/*Count Section style completed*/
/*Footer Style Start*/
.footer-section{
    background: black;
    padding: 50px;
    
}
.orange-color{
   color:#FC8043
}
.footer-h3 {
    text-align: center;
    color: gray;
    font-size: 30px;
    margin-top: -10px;
    font-weight: 600;

  }
  .footer-p{
      text-align: center;
      color: white;
      font-size: 15px;
  }